.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.Contact_layout {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Banner {
  display: flex;
  width: 100vw;
}

.Each {
  width: 30vw;
  min-width: 220px !important;
}

.Sep {
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
