.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.Contact_layout {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Banner {
  display: flex;
  width: 100vw;
}

.Each {
  width: 60vw;
  min-width: 220px !important;
}

.Sep {
  margin: 5px;
}

.Ontop {
  position: absolute;
}

.Add {
  display: flex;
  justify-content: flex-end;
  margin: 3vmin;
}

.Add_outer {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
